{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "tailwindcss.sortOrder": [
    "responsive",
    "hover",
    "focus",
    "active",
    "group-hover",
    "group-focus",
    "focus-within",
    "first",
    "last",
    "odd",
    "even",
    "visited"
  ]
}
